@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  text-align: center;
  position: relative;
  cursor: pointer;
  background: linear-gradient(180deg, rgba(2, 0, 36, 0) 40%, rgba(255, 225, 127, 1) 41%, rgba(255, 225, 127, 1) 59%, rgba(156, 191, 155, 0) 60%);
}

.button:hover {
  background: #ffe17f;
}

.button:active {
  background: #ffc700;
}

.button:focus {
  outline: 2px solid #af4fff;
}

/* Заголовки */
.title {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

/* Навигация */
.header {
  color: #000000;
  background-color: #ffe17f;
  margin: 0 auto;
  margin-top: 40px;
  width: 1160px;
  position: relative;
  z-index: 2;
}

.header-wrapper {
  width: 1040px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.header-logo {
  position: absolute;
  top: -20px;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 41px;
  padding-top: 46px;
  align-items: center;
}

/* Форма поиска */
.search-form {
  width: 517px;
  display: flex;
  margin-right: 25px;
}

.search-input {
  width: 360px;
  height: 40px;
  padding: 10px 10px 10px 48px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: transparent;
  box-sizing: border-box;
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 14px 10px;
}

.search-form-button {
  height: 40px;
  padding: 10px 55px;
  border: 2px solid #000000;
  border-left: 0;
  border-radius: 0 50px 50px 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
}

.search-form-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-form-button:active {
  color: #999999;
  background-color: #000000;
}

.user-menu-wrapper {
  margin-left: auto;
  max-width: 245px;
}

.user-menu-link {
  color: #000000;
  text-decoration: none;
}

.catalog-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.user-menu-link:not(:last-child) {
  margin-right: 12px;
}

.login-link {
  padding-left: 28px;
  background-image: url("../images/login-icon.svg");
  background-repeat: no-repeat;
  background-position: 2px center;
}

.login-link:hover {
  opacity: 0.6;
}

.login-link:active {
  opacity: 0.3;
}

.login-link:focus {
  outline: 2px solid #af4fff;
}

.logout-link {
  opacity: 0.3;
}

.compare-link {
  padding-left: 25px;
  background-image: url("../images/compare-icon.svg");
  background-repeat: no-repeat;
  background-position: 2px center;
}

.compare-link:hover {
  opacity: 0.6;
}

.compare-link:active {
  opacity: 0.3;
}

.compare-link:focus {
  outline: 2px solid #af4fff;
}

.cart-link {
  padding-left: 45px;
  position: relative;
  background-image: url("../images/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 17px;
}

.cart-link:hover {
  opacity: 0.6;
}

.cart-link:active {
  opacity: 0.3;
}

.cart-link:focus {
  outline: 2px solid #af4fff;
}

.cart-amount {
  width: 21px;
  height: 21px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 50%;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  align-items: center;
}

.right-navigation {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: auto;
  gap: 45px;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}

.catalog-link {
  position: relative;
}

.menu-button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
  padding: 0;
  position: absolute;
  top: -10px;
  right: -65px;
  background-image: url("../images/plus-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.menu-button:hover {
  opacity: 1;
}

.submenu-wrapper {
  display: none;
  width: 1100px;
  min-height: 140px;
  color: #000000;
  background-color: #ffe17f;
  padding: 0 0 15px 60px;
  margin: 15px 0 0 -60px;
}

.menu-button:hover ~ .submenu-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  gap: 30px;
}

.submenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.submenu-link {
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.submenu-link:hover {
  opacity: 0.6;
}

.submenu-link:active {
  opacity: 0.3;
}

.submenu-link:focus {
  outline: 2px solid #af4fff;
}

.submenu-item {
  position: relative;
  width: max-content;
  max-width: 222px;
}

.submenu-link-current {
  border-bottom: 1px solid #000000;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  margin: 0 auto;
}

/* Слайдер */
.slider {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.slider-image {
  margin-right: 40px;
  margin-top: -5px;
}

.slider-number {
  font-weight: 700;
  font-size: 180px;
  color: #ffffff;
  position: absolute;
  top: 75px;
  right: 50px;
}

.slider-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.slider-product::before {
  content: "";
  width: 100%;
  height: 143px;
  position: absolute;
  background-color: #ffe17f;
  z-index: -1;
}

.slider-product-wrapper {
  width: 560px;
  padding-top: 115px;
}

.slider-product-title {
  padding: 0;
  margin: 0 0 30px 0;
  position: relative;
  z-index: 1;
}

.slider-product-description {
  padding: 0;
  margin: 0 0 45px 0;
}

.specifications {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-specifications {
  margin: 0;
  padding: 0;
}

.specifications-value {
  color: #000000;
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
  display: block;
  margin-bottom: 15px;
}

.specifications-name {
  color: #444444;
  font-size: 16px;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: -30px;
  list-style-type: none;
  position: relative;
  z-index: 1;
}

.slider-pagination-item {
  margin: 0 10px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-controls {
  position: absolute;
  top: 205px;
  left: 30px;
  width: 530px;
  display: flex;
  justify-content: space-between;
}

.slider-button {
  width: 20px;
  height: 60px;
  background-color: transparent;
  border: none;
  background-image: url("../images/arrow.svg");
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-button:focus {
  outline: 2px solid #af4fff;
}

.slider-next {
  transform: rotate(180deg);
}

.slider-link {
  display: inline-block;
  margin-bottom: 43px;
  padding: 14px 36px;
}

/* Категории */
.categories {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.categories-list-item {
  width: 160px;
  line-height: 24px;
}

.categories-list-item:hover .categories-img {
  background-color: #ffc700;
}

.categories-list-item:active {
  opacity: 0.3;
}

.categories-img {
  background-color: #ffe17f;
  display: block;
  margin-bottom: 33px;
}

.categories-link {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
}

/* Услуги */
.services {
  margin-bottom: 70px;
  position: relative;
  min-height: 390px;
}

.services::after {
  content: "";
  background-color: #f0f0f0;
  width: 100%;
  height: 290px;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.services-wrapper {
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.services-list {
  list-style-type: none;
  padding: 65px 0 65px 0;
  margin: 0 115px 0 0;
  position: relative;
  width: 287px;
}

.services-list::after {
  content: "";
  height: 100%;
  width: 7px;
  position: absolute;
  background-color: #000000;
  right: 0;
  top: 0;
}

.services-item:not(:last-child) {
  margin-bottom: 35px;
}

.services-link {
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  padding: 9px 20px;
  width: 160px;
  min-height: 40px;
}

.services-link:hover {
  color: #ffe17f;
  background-color: #000000;
  width: 100%;
  text-align: left;
  padding-left: 50px;
}

.services-link-current {
  color: #ffe17f;
  background: #000000;
  width: 100%;
  text-align: left;
}

.about-service {
  width: 450px;
  padding: 73px 245px 0 0;
}

.delivery-service {
  background-image: url("../images/delivery-man.svg");
  background-repeat: no-repeat;
  background-position: top 75px right;
}

.guarantee-service {
  background-image: url("../images/guarantee-icon.svg");
  background-repeat: no-repeat;
  background-position: top 75px right;
}

.credit-service {
  background-image: url("../images/credit-icon.svg");
  background-repeat: no-repeat;
  background-position: top 75px right;
}

.services-title {
  padding: 0;
  margin: 0 0 34px 0;
}

.services-description {
  padding: 0;
  margin: 0;
  width: 455px
}

.delivery-button {
  display: block;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 40px 200px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  position: relative;
}

.delivery-button::before {
  content: "";
  width: 125px;
  height: 100%;
  background-color: #ffe17f;
  background-image: url("../images/delivery-car.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.delivery-button:hover::before {
  background-color: #ffc700;
}

.delivery-button:active {
  opacity: 0.3;
}

.info-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(220, 220, 220, 0.5);
  position: absolute;
  right: 43px;
  top: 50%;
  transform: translateY(-50%);
}

.info-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

.delivery-button:hover .info-icon {
  opacity: 1;
}

/* О нас и Контакты */
.about-us-wrapper {
  width: 1160px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 70px;
  padding-top: 45px;
  justify-content: space-between;
}

.about-us {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-us-title {
  margin-bottom: 18px;
  position: relative;
}

.about-us-title::before {
  content: "";
  width: 85px;
  height: 7px;
  background-color: #000000;
  position: absolute;
  top: -45px;
}

/* Способы доставки*/
.about-us-description {
  padding: 0;
  margin: 0;
}

.delivery-options {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.delivery-options-item {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  padding-left: 35px;
  position: relative;
}

.delivery-options-item::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffc700;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.delivery-options-item:not(:last-child) {
  margin-bottom: 19px;
}

.about-us-button {
  width: 270px;
  padding: 10px 20px;
  box-sizing: border-box;
}

.contact-us-button {
  width: 260px;
  padding: 10px 20px;
  box-sizing: border-box;
}

/* Контакты */
.contacts {
  width: 532px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contacts-description {
  margin: 0;
  padding: 0;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.contacts-address {
  font-style: normal;
  margin: 0;
  margin-top: -15px;
  padding: 0;
}

.contacts-address-text {
  margin: 0;
  padding: 0;
}

.contacts-phone {
  color: #444444;
  margin: 0;
  padding: 0;
}

.contacts-schedule {
  padding: 0;
  margin: 0;
  margin-top: -15px;
  list-style-type: none;
}

/* Блок подписки */
.subscription {
  background-color: #f0f0f0;
}

.subscription-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 65px 0 55px 15px;
  display: flex;
  flex-wrap: wrap;
}

.subscription-title {
  width: 348px;
}

.subscription-description {
  margin: 10px 0 0 auto;
  width: 560px;
}

.subscription-form {
  margin-top: 145px;
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
}

.email-field {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  padding: 10px 10px;
  width: 550px;
  box-sizing: border-box;
}

.email-field:hover {
  background-color: #b3b3b3;
}

.email-field:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.subscribe-button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border: 3px solid #c4c4c4;
  padding: 10px 40px;
  box-sizing: border-box;
  width: 255px;
  cursor: pointer;
}

.subscribe-button:hover {
  color: #ffffff;
  background: #000000;
  border: 3px solid #000000;
}

.subscribe-button:active {
  color: #444444;
}

.subscribe-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.subscribe-button:disabled {
  opacity: 0.3;
}

.free-note {
  margin-left: auto;
  margin-right: 10px;
  padding-left: 32px;
  background-image: url("../images/tick-icon.svg");
  background-repeat: no-repeat;
  background-position: left center;
  align-self: center;
}

/* Футер */
.page-footer {
  color: #ffffff;
  background-color: #444444;
}

.footer-wrapper {
  display: grid;
  width: 1160px;
  grid-template-columns: 240px 444px 238px;
  gap: 25px 119px;
  margin: 0 auto;
  padding: 62px 0;
}

.footer-contacts {
  width: 240px;
}

.footer-logo-link {
  grid-column: 1/2;
  justify-self: start;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-contacts-address {
  width: 240px;
  grid-column: 1/2;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.about-text {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.footer-menu-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  position: relative;
}

.footer-menu-link:hover {
  color: #ffc700;
}

.footer-menu-link:hover:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #ffc700;
  z-index: 1;
}

.footer-contacts-phone {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  justify-self: end;
  align-self: center;
}

.footer-contacts-phone:hover {
  color: #ffc700;
}

.footer-contacts-phone:active {
  opacity: 0.3;
}

.social-list {
  grid-column: 2/3;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  list-style-type: none;
  justify-self: center;
  align-items: center;
}

.social-item {
  background-color: #ffffff;
  opacity: 0.3;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.social-item:hover {
  background-color: #ffc700;
  opacity: 1;
}

.social-item:active .social-link {
  opacity: 0.3;
}

.social-item:not(:last-child) {
  margin-right: 15px;
}

.social-link {
  display: block;
  min-width: 40px;
  min-height: 40px;
  position: relative;
}

.social-icon {
  color: #444444;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.html-link {
  grid-column: 3/-1;
  justify-self: end;
  margin-top: 25px;
}

.html-logo {
  color: #ffc700;
}

.html-logo:hover {
  color: #ffffff;
}

.html-logo:active {
  color: #ffffff;
  opacity: 0.3;
}

/* Каталог */
.page-header {
  margin-bottom: 35px;
}

.page-header-wrapper {
  padding-bottom: 30px;
}

.inner-header {
  margin: 0 auto 30px;
  width: 1040px;
}

.inner-header-title {
  margin-bottom: 10px;
}

/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs-item:not(:last-child) {
  padding-right: 20px;
  margin-right: 16px;
  background: url("../images/breadcrumb-arrow.svg") no-repeat right;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  outline: 2px solid #af4fff;
}

/* Фильтры */
.filter-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 70px 0;
  padding: 0;
}

.filter {
  width: 200px;
  padding: 0 60px;
}

/* Range */
.range {
  margin: 30px 0 50px 0;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 8px;
  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  border-color: #999999;
}

.range-toggle:active {
  background-color: #000000;
  border-color: #000000;
}

.toggle-min {
  top: -8px;
  left: -8px;
}

.toggle-max {
  top: -8px;
  right: -8px;
}

.range-wrapper-inputs {
  display: flex;
  position: relative;
  left: -12px;
}

.catalog-filter-label {
  display: flex;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.range-input {
  width: 80px;
  padding: 0 0 0 3px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border: none;
  text-align: left;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  padding: 0;
  margin: 0 0 20px 0;
  color: #000000;
  position: relative;
}

.catalog-filter-title::before {
  content: "";
  height: 2px;
  width: 200px;
  background-color: #000000;
  top: -12px;
  position: absolute;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.control {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.catalog-right-column {
  width: 840px;
}

/* Сортировка */
.sort-container {
  width: 840px;
  display: flex;
}

/* Товары */
.catalog-products {
  color: #000000;
  background-color: #f0f0f0;
}

.catalog-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  padding-top: 25px;
}

.product-list-wrapper {
  background-color: #ffffff;
  padding: 70px 40px 78px;
}

.product-list {
  display: grid;
  grid-template-columns: 360px 360px;
  padding: 0;
  margin: 0;
  gap: 40px;
  list-style-type: none;
  margin-bottom: 44px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.product-card-price {
  font-weight: 400;
  line-height: 21px;
}

.button-show-more {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 3px solid #E5E5E5;
  cursor: pointer;
  width: 100%;
  padding: 18px 0;
  margin-bottom: 44px;
}

/* Пагинация */
.pagination {
  color: #000000;
  background-color: #ebebeb;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 25px;
  margin: 0;
}

.pagination-item {
  min-width: 40px;
  text-align: center;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
}

.pagination-current {
  opacity: 0.6;
}

.pagination-prev {
  margin-right: auto;
}

.pagination-next {
  margin-left: auto;
}

.pagination-prev-link,
.pagination-next-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
}

.pagination-disabled {
  opacity: 0.3;
}

.hidden {
  display: none;
}
